In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.sciex import SciexWiffData

raw_data = SciexWiffData()
raw_data.import_raw(
    "/Users/wenfengzeng/data/DIA_test/scanningSWATH/20201215_sswath_1min_5ug_1.wiff"
)
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,precursor_charge,isolation_lower_mz,isolation_upper_mz,nce
0,0,0,475,0.000000,1,-1.000000,0,-1.000000,-1.000000,0.0000
1,1,475,475,0.000241,2,378.989823,0,377.989823,379.989823,10.0000
2,2,475,475,0.000246,2,380.995054,0,379.989823,382.000285,37.3125
3,3,475,475,0.000250,2,383.000285,0,382.000285,384.000285,0.0000
4,4,475,475,0.000255,2,385.005515,0,384.000285,386.010746,0.0000
...,...,...,...,...,...,...,...,...,...,...
100741,100741,172380458,172380561,1.990408,2,890.788651,0,889.779935,891.797367,0.0000
100742,100742,172380561,172380679,1.990413,2,892.798301,0,891.797367,893.799235,0.0000
100743,100743,172380679,172380789,1.990417,2,894.807950,0,893.799235,895.816666,0.0000
100744,100744,172380789,172380898,1.990422,2,896.817600,0,895.816666,897.818534,0.0000
100745,100745,172380898,172380993,1.990426,2,898.827250,0,897.818534,899.835966,0.0000

In [3]:
raw_data.peak_df

                   mz  intensity
0          387.835236       36.0
1          387.838013      144.0
2          387.840759      108.0
3          393.283356      108.0
4          393.286133      431.0
...               ...        ...
172380988  293.017090       43.0
172380989  293.017670      129.0
172380990  298.139313       36.0
172380991  298.139923      144.0
172380992  298.140533      108.0

[172380993 rows x 2 columns]