In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.sciex import SciexWiffData

raw_data = SciexWiffData()
raw_data.import_raw(
    "/Users/zengwenfeng/Workspace/Data/zenoTOF/test_data/HeLa-500ng-0807Prep-IDA-Top50-10ms-GS2_60_09072021-60SPD_01.wiff"
)
raw_data.spectrum_df

/Users/zengwenfeng/Workspace/alpharaw/alpharaw/sciex.py:24: UserWarning: Centroiding for Sciex data is not well implemented yet
  warnings.warn('Centroiding for Sciex data is not well implemented yet')

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz
0,0,0,27,0.001667,1,-1.000000,0,-1.0,-1.0
1,1,27,2027,0.004133,1,-1.000000,0,-1.0,-1.0
2,2,2027,4027,0.006617,1,-1.000000,0,-1.0,-1.0
3,3,4027,6027,0.009117,1,-1.000000,0,-1.0,-1.0
4,4,6027,8027,0.011667,1,-1.000000,0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...
46681,46681,63653094,63655094,20.976400,1,-1.000000,0,-1.0,-1.0
46682,46682,63655094,63657094,20.989900,2,874.498690,0,-1.0,-1.0
46683,46683,63657094,63659094,20.992417,1,-1.000000,0,-1.0,-1.0
46684,46684,63659094,63661094,20.995583,1,-1.000000,0,-1.0,-1.0
46685,46685,63661094,63663094,21.008817,2,660.467252,0,-1.0,-1.0

In [3]:
raw_data.peak_df

                  mz  intensity
0         427.365684      215.0
1         427.381889      358.0
2         427.385940      424.0
3         429.081074      379.0
4         429.085134      266.0
...              ...        ...
63663089  661.425310        6.0
63663090  802.354388        5.0
63663091  991.502045        6.0
63663092  992.514301        6.0
63663093  992.520475        6.0

[63663094 rows x 2 columns]

In [4]:
raw_data.creation_time

'2021-07-09T23:30:19.0000000'

In [5]:
raw_data.peak_df.dtypes

mz           float64
intensity    float32
dtype: object