In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.thermo import ThermoRawData
from alpharaw.wrappers.alphatims_wrapper import AlphaTimsWrapper

WARNING:root:WARNING: Temp mmap arrays are written to /var/folders/hn/0f5pbk7j55sd4r5bxjp25_rm0000gn/T/temp_mmap_8rdci3ad. Cleanup of this folder is OS dependant, and might need to be triggered manually! Current space: 841062969344
WARNING:root:WARNING: No Bruker libraries are available for this operating system. Mobility and m/z values need to be estimated. While this estimation often returns acceptable results with errors < 0.02 Th, huge errors (e.g. offsets of 6 Th) have already been observed for some samples!

In [3]:
raw_data = ThermoRawData()
raw_data.import_raw("/Users/zengwenfeng/Workspace/Data/Thermo_iRT/iRT.raw")
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz,rt_sec
0,0,0,254,0.002983,1,-1.0000,0,-1.000000,-1.000000,0.178981
1,1,254,665,0.006392,1,-1.0000,0,-1.000000,-1.000000,0.383501
2,2,665,1131,0.009808,1,-1.0000,0,-1.000000,-1.000000,0.588464
3,3,1131,1663,0.013224,1,-1.0000,0,-1.000000,-1.000000,0.793464
4,4,1663,2169,0.016641,1,-1.0000,0,-1.000000,-1.000000,0.998447
...,...,...,...,...,...,...,...,...,...,...
3932,3932,1100271,1101512,5.994985,1,-1.0000,0,-1.000000,-1.000000,359.699078
3933,3933,1101512,1101528,5.997334,2,362.5372,2,361.837140,363.237140,359.840069
3934,3934,1101528,1102758,5.998843,1,-1.0000,0,-1.000000,-1.000000,359.930573
3935,3935,1102758,1102771,6.001193,2,425.3266,2,424.626569,426.026569,360.071552
3936,3936,1102771,1103989,6.002935,1,-1.0000,0,-1.000000,-1.000000,360.176126

In [4]:
raw_data.peak_df

                  mz     intensity
0         301.060333  36817.058594
1         301.142944  12673.902344
2         301.217346  53082.824219
3         301.238922  16699.697266
4         301.976807  27308.283203
...              ...           ...
1103984  1207.956909  67160.632812
1103985  1210.963867  29747.617188
1103986  1215.940796  26113.435547
1103987  1240.572632  26533.298828
1103988  1372.140991  20527.900391

[1103989 rows x 2 columns]

In [5]:
alphatims_data = AlphaTimsWrapper(raw_data, dda=True)
alphatims_data[0.0:1.0]

,raw_indices,frame_indices,scan_indices,precursor_indices,push_indices,tof_indices,rt_values,rt_values_min,mobility_values,quad_low_mz_values,quad_high_mz_values,mz_values,intensity_values,corrected_intensity_values
0,0,0,0,0,0,2010603,0.178981,0.002983,0,-1.0,-1.0,301.0603,36817.058594,36817
1,1,0,0,0,0,2011429,0.178981,0.002983,0,-1.0,-1.0,301.1429,12673.902344,12673
2,2,0,0,0,0,2012173,0.178981,0.002983,0,-1.0,-1.0,301.2173,53082.824219,53082
3,3,0,0,0,0,2012389,0.178981,0.002983,0,-1.0,-1.0,301.2389,16699.697266,16699
4,4,0,0,0,0,2019768,0.178981,0.002983,0,-1.0,-1.0,301.9768,27308.283203,27308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2164,2164,4,0,0,4,9978870,0.998447,0.016641,0,-1.0,-1.0,1097.8870,5626.406738,5626
2165,2165,4,0,0,4,10016389,0.998447,0.016641,0,-1.0,-1.0,1101.6389,5588.583984,5588
2166,2166,4,0,0,4,10263106,0.998447,0.016641,0,-1.0,-1.0,1126.3106,4457.186035,4457
2167,2167,4,0,0,4,11751726,0.998447,0.016641,0,-1.0,-1.0,1275.1726,4921.953613,4921
2168,2168,4,0,0,4,12630518,0.998447,0.016641,0,-1.0,-1.0,1363.0518,5242.800781,5242

In [6]:
alphatims_data[0.0:100.0].query('precursor_indices>0')

,raw_indices,frame_indices,scan_indices,precursor_indices,push_indices,tof_indices,rt_values,rt_values_min,mobility_values,quad_low_mz_values,quad_high_mz_values,mz_values,intensity_values,corrected_intensity_values
155270,155270,297,0,1,297,749929,60.75817,1.012636,0,326.309033,327.709033,174.9929,38397.171875,38397
155271,155271,297,0,1,297,890955,60.75817,1.012636,0,326.309033,327.709033,189.0955,4517.982910,4517
155272,155272,297,0,1,297,988056,60.75817,1.012636,0,326.309033,327.709033,198.8056,4471.824219,4471
155273,155273,297,0,1,297,1284147,60.75817,1.012636,0,326.309033,327.709033,228.4147,5381.021484,5381
155274,155274,297,0,1,297,1510011,60.75817,1.012636,0,326.309033,327.709033,251.0011,6580.025391,6580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236460,236460,619,0,153,619,1081704,99.48445,1.658074,0,408.506360,409.906360,208.1704,4012.170410,4012
236461,236461,619,0,153,619,1621494,99.48445,1.658074,0,408.506360,409.906360,262.1494,5135.653320,5135
236462,236462,619,0,153,619,2221251,99.48445,1.658074,0,408.506360,409.906360,322.1251,18180.195312,18180
236463,236463,619,0,153,619,2341224,99.48445,1.658074,0,408.506360,409.906360,334.1224,5281.465332,5281
236464,236464,619,0,153,619,2557881,99.48445,1.658074,0,408.506360,409.906360,355.7881,4659.617676,4659

# Test iRT DIA data

In [7]:
raw_data = ThermoRawData()
raw_data.import_raw("/Users/zengwenfeng/Workspace/Data/Thermo_iRT/DIA/20200911_EXPL0_IgPa_6min_DIA_2.raw")
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz,rt_sec
0,0,0,255,0.002871,1,-1.0,0,-1.0,-1.0,0.172236
1,1,255,444,0.008945,2,371.0,0,349.5,392.5,0.536688
2,2,444,531,0.010096,2,407.0,0,391.5,422.5,0.605779
3,3,531,613,0.011247,2,434.5,0,421.5,447.5,0.674839
4,4,613,677,0.012398,2,457.5,0,446.5,468.5,0.743904
...,...,...,...,...,...,...,...,...,...,...
4376,4376,1225345,1225601,5.997157,2,478.5,0,467.5,489.5,359.829409
4377,4377,1225601,1225796,5.998308,2,498.0,0,488.5,507.5,359.898502
4378,4378,1225796,1225996,5.999455,2,516.5,0,506.5,526.5,359.967279
4379,4379,1225996,1226145,6.000605,2,534.5,0,525.5,543.5,360.036319
4380,4380,1226145,1226313,6.001752,2,552.0,0,542.5,561.5,360.105099

In [8]:
alphatims_data = AlphaTimsWrapper(raw_data, dda=False)
alphatims_data[0.0:10.0]

,raw_indices,frame_indices,scan_indices,precursor_indices,push_indices,tof_indices,rt_values,rt_values_min,mobility_values,quad_low_mz_values,quad_high_mz_values,mz_values,intensity_values,corrected_intensity_values
0,0,0,0,0,0,2311488,0.172236,0.002871,0,-1.0,-1.0,351.1488,15592.084961,15592
1,1,0,0,0,0,2320976,0.172236,0.002871,0,-1.0,-1.0,352.0976,6126.446777,6126
2,2,0,0,0,0,2328230,0.172236,0.002871,0,-1.0,-1.0,352.8230,4330.460449,4330
3,3,0,0,0,0,2328887,0.172236,0.002871,0,-1.0,-1.0,352.8887,4539.788574,4539
4,4,0,0,0,0,2339421,0.172236,0.002871,0,-1.0,-1.0,353.9421,4448.501953,4448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6051,6051,118,0,25,118,4356066,9.991487,0.166525,0,907.5,959.5,555.6066,1283.586792,1283
6052,6052,118,0,25,118,4411621,9.991487,0.166525,0,907.5,959.5,561.1621,1296.302979,1296
6053,6053,118,0,25,118,6247720,9.991487,0.166525,0,907.5,959.5,744.7720,1474.562500,1474
6054,6054,118,0,25,118,7425253,9.991487,0.166525,0,907.5,959.5,862.5253,1413.956787,1413
6055,6055,118,0,25,118,26372370,9.991487,0.166525,0,907.5,959.5,2757.2370,1703.588623,1703

In [9]:
alphatims_data[0.0:1.0][['precursor_indices','push_indices']].drop_duplicates()

     precursor_indices  push_indices
0                    0             0
255                  1             1
444                  2             2
531                  3             3
613                  4             4
677                  5             5
699                  6             6
746                  7             7

In [11]:
alphatims_data[0.0:10.0].query('precursor_indices==0')[
    ['precursor_indices','push_indices']
].drop_duplicates()

      precursor_indices  push_indices
0                     0             0
1425                  0            31
2934                  0            62
4498                  0            93