In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.thermo import ThermoRawData

raw_data = ThermoRawData(
    process_count=1,
    auxiliary_items=[
        "injection_time", "cv",
        "max_ion_time", "agc_target", "energy_ev",
        "injection_optics_settling_time", 
        "funnel_rf_level", "faims_cv",
        "activation", "analyzer",
        "activation_id", "analyzer_id",
    ]
)
raw_data.import_raw("/Users/wenfengzeng/data/iRT.raw")
raw_data.spectrum_df

,spec_idx,peak_start_idx,peak_stop_idx,rt,precursor_mz,precursor_charge,isolation_lower_mz,isolation_upper_mz,ms_level,nce,...,max_ion_time,agc_target,energy_ev,injection_optics_settling_time,funnel_rf_level,faims_cv,activation,analyzer,activation_id,analyzer_id
0,0,0,254,0.002983,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
1,1,254,411,0.006392,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
2,2,411,466,0.009808,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
3,3,466,532,0.013224,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
4,4,532,506,0.016641,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3932,3932,1261,1241,5.994985,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
3933,3933,1241,16,5.997334,362.537140,0,361.837140,363.237140,2,30.0,...,28.0,100000,16.500000,0.0,40.0,0.0,HCD,FTMS,5,4
3934,3934,16,1230,5.998843,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4
3935,3935,1230,13,6.001193,425.326569,0,424.626569,426.026569,2,30.0,...,28.0,100000,18.690001,0.0,40.0,0.0,HCD,FTMS,5,4
3936,3936,13,1218,6.002935,-1.000000,0,-1.000000,-1.000000,1,0.0,...,25.0,3000000,0.000000,0.0,40.0,0.0,HCD,FTMS,5,4

In [3]:
raw_data.peak_df

                  mz     intensity
0         301.060333  36817.058594
1         301.142944  12673.902344
2         301.217346  53082.824219
3         301.238922  16699.697266
4         301.976807  27308.283203
...              ...           ...
1103984  1207.956909  67160.632812
1103985  1210.963867  29747.617188
1103986  1215.940796  26113.435547
1103987  1240.572632  26533.298828
1103988  1372.140991  20527.900391

[1103989 rows x 2 columns]

In [4]:
raw_data.peak_df.dtypes

mz           float32
intensity    float32
dtype: object