In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from alpharaw.sciex import SciexWiffData

raw_data = SciexWiffData()
raw_data.import_raw(
    "/Users/zengwenfeng/Workspace/Data/zenoTOF/test_data/HeLa-500ng-0807Prep-IDA-Top50-10ms-GS2_60_09072021-60SPD_01.wiff"
)
raw_data.spectrum_df

Can't find custom attr constructor image: /Users/zengwenfeng/Workspace/alpharaw/alpharaw/ext/sciex/Clearcore2.Domain.Acquisition.dll mtoken: 0x0a00001c due to: Could not load file or assembly 'protobuf-net, Version=2.0.0.668, Culture=neutral, PublicKeyToken=257b51d87d2e4d67' or one of its dependencies.

,spec_idx,peak_start_idx,peak_stop_idx,rt,ms_level,precursor_mz,charge,isolation_lower_mz,isolation_upper_mz,experiment_id,cycle_id,rt_sec
0,0,0,19,0.001667,1,-1.000000,-1,-1.0,-1.0,0,0,0.100
1,1,19,2019,0.004133,1,-1.000000,-1,-1.0,-1.0,0,1,0.248
2,2,2019,4019,0.006617,1,-1.000000,-1,-1.0,-1.0,0,2,0.397
3,3,4019,6019,0.009117,1,-1.000000,-1,-1.0,-1.0,0,3,0.547
4,4,6019,8019,0.011667,1,-1.000000,-1,-1.0,-1.0,0,4,0.700
...,...,...,...,...,...,...,...,...,...,...,...,...
46681,46681,52414230,52416230,20.976400,1,-1.000000,-1,-1.0,-1.0,0,1734,1258.584
46682,46682,52416230,52418230,20.989900,2,874.498690,0,-1.0,-1.0,1,1734,1259.394
46683,46683,52418230,52420230,20.992417,1,-1.000000,-1,-1.0,-1.0,0,1735,1259.545
46684,46684,52420230,52422230,20.995583,1,-1.000000,-1,-1.0,-1.0,0,1736,1259.735
46685,46685,52422230,52424230,21.008817,2,660.467252,0,-1.0,-1.0,1,1736,1260.529

In [3]:
raw_data.peak_df

                  mz  intensity  peak_start_mz  peak_stop_mz
0         427.365684      215.0     427.365684   427.365684
1         427.381889      358.0     427.381889   427.381889
2         428.186010      803.0     427.385940   429.081074
3         429.082748      645.0     429.081074   429.085134
4         436.566664      750.0     429.089193   445.112345
...              ...        ...            ...          ...
52424225  661.417750       10.0     661.415230   661.420270
52424226  661.426030        7.0     661.425310   661.430350
52424227  991.504102        9.0     991.502045   991.508216
52424228  992.517388       12.0     992.514301   992.520475
52424229  992.521357        7.0     992.520475   992.526649

[52424230 rows x 4 columns]

In [4]:
raw_data.creation_time

'2021-07-09T23:30:19.0000000'